# Hugo build output
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json

# Hugo cache
.hugo_build.lock

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# Local Netlify folder
.netlify/

# Node modules
node_modules/
package-lock.json
