$default: #000; 
$btn-color: #0d6efd;

$body-background: #fff;

$btn-font: 'Arial', sans-serif;
$header-font: 'Arial', sans-serif;
$body-font: 'Arial', sans-serif;

$transition: 0.3s;

$base-fontsize: 16px;

$input-padding-top: 8px;
$input-padding-bottom: 8px;
$input-padding-left: 8px;
$input-padding-right: 8px;

$form-radius: 5px;
$btn-radius: 5px;

$line-height-desktop: 60px;
$line-height-mobile: 50px;

$light-grey: #666;