<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p id="copyright" class="small">&copy; Copyright <script type="text/javascript">document.write(new Date().getFullYear());</script>&nbsp;{{ .Site.Title }} - All Rights Reserved - <a href="/policies/privacy">Privacy Policy</a> | <a href="/policies/terms">Terms and Conditions</a></p>
            </div>
            <div class="col-12">
                <p>Made with <i class="fas fa-heart"></i> By <a href="https://kristopherray.com/" target="_blank">Kristopher Ray Creative</a></p>
            </div>
        </div>
    </div>
</footer>