{{ $myVar := .Params.sections }}
{{ $mgatag := index site.Taxonomies.section_categories }}
{{ range $k, $v := $mgatag }}
    {{ if eq $k $myVar }}
        {{ range $v.Pages }}
            <section id="{{ .Params.id }}" {{if .Params.bg_video}}class="bg-video"{{end}}>

                {{ if .Params.custom_section }}
                {{.Content}}
                {{ else }}

                    {{ if .Params.image }}
                    <div class="bg-image">
                        <img src='{{ .Params.image }}' class="img-fluid" alt="{{ .Site.Title }} - {{ .Title }} Image" loading="lazy">
                    </div>
                    {{end}}

                    {{ if .Params.bg_video }}
                    <div class="video-wrapper bg-image"><iframe src="https://player.vimeo.com/video/{{.Params.bg_video}}?background=1" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" loading="lazy" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><script src="https://player.vimeo.com/api/player.js"></script></div>
                    {{end}}

                    <div class="container">
                        <div class="row {{ .Params.position }} ">
                            {{if .Params.section_image}}
                            <div class="col sectionImgCol gsap-item" data-gsap="fade">
                                <img src="{{.Params.section_image}}" alt="{{ .Title }} {{ .Params.Site.Title }} Section Image" loading="lazy"/>
                            </div>
                            {{end}}
                            <div class="col col-12 sectionColTxt {{ .Params.size }} gsap-item" data-gsap="fade">
                            {{ .Content }}
                            </div>
                        </div>
                    </div>
                    
                {{ end }}
            </section>
        {{ end }}
    {{ end }}
{{ end }}