<section id="latest-posts">
    <div class="container">
        <!-- Recent Posts -->
        {{ $posts := where .Site.RegularPages "Type" "posts" }}
        {{ if $posts }}
        <div class="row">
            <div class="col-12 mb-4">
                <h2>Recent Posts</h2>
            </div>
            {{ range first 2 $posts }}
            <div class="col-12 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body d-flex align-items-center">
                        <div>
                            <h3 class="card-title">
                                {{ if .Params.outbound}}
                                <a href="{{ .Params.outbound }}">{{ .Title }}</a>
                                {{ else }}
                                <a href="{{ .Permalink }}">{{ .Title }}</a>
                                {{ end }}
                            </h3>
                            <p class="card-text text-muted">
                                <small>{{ .Date.Format "January 2, 2006" }}</small>
                            </p>
                            {{ if .Summary }}
                            <p class="card-text">{{ .Summary | plainify | truncate 100 }}</p>
                            {{ end }}
                            {{ if .Params.outbound}}
                            <a href="{{ .Params.outbound }}" target="_blank" class="btn btn-sm btn-outline-primary">Read More</a>
                            {{ else }}
                            <a href="{{ .Permalink }}" class="btn btn-sm btn-outline-primary">Read More</a>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
        {{ end }}
    </div>
</section>