<section id="signup">
    <div class="container">
        
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="mb-3">
                    <a href="#signup">Sign Up for Updates</a>
                </h2>
            </div>
        </div>
  
        <form accept-charset="UTF-8" action='{{ .Site.Params.form_endpoint }}' method="POST">

            <input type="hidden" name="utm_source" value="">
            <input type="hidden" name="utm_medium" value="">
            <input type="hidden" name="utm_campaign" value="">

            <div class="col col-12 col-md-3">
                <div class="form-floating">
                    <input type="text" id="first_name" class="form-control" name="first_name" placeholder="First Name" required>
                    <label for="first_name">First Name*</label>
                </div>
            </div>

            <div class="col col-12 col-md-4">
                <div class="form-floating">
                    <input type="email" id="email" class="form-control" name="email" placeholder="Email Address" required>
                    <label for="email">Email Address*</label>
                </div>
            </div>

            <div class="col col-12 col-md-2">
                <div class="form-floating">
                    <input type="tel" id="phone" class="form-control phone" name="phone" placeholder="Phone Number" required>
                    <label for="phone">Phone Number*</label>
                </div>
            </div>

            <div class="col col-12 col-md-2">
                <div class="form-floating">
                    <input type="text" id="zip" class="form-control" name="zipcode" placeholder="Zip Code" required>
                    <label for="zip">Zip Code*</label>
                </div>
            </div>

            <div class="col col-12 col-md-1">
                <button type="submit" class="btn btn-primary">I'm In!</button>
            </div>

        </form>        
  
    </div>
  </section>